appdirs==1.4.3
-e git+https://github.com/ldotlopez/appkit.git@73c9945e32796ca8707de8870cf6aee400aaa132#egg=appkit
colorama==0.3.9
packaging==16.8
pkg-resources==0.0.0
pyparsing==2.2.0
python-anydo==0.1.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
